<% if school_signed_in? %>
  <div class='new-addition'><%= link_to '連絡追加', new_contact_path %></div>
<% end %>

<% @contacts.each do |contact| %>
  <div class='contact-list'>
  <%= link_to contact_path(contact.id) do %>
    <div class='contact-date'><%= contact.created_at.year %>年<%= contact.created_at.month %>月<%= contact.created_at.day %>日</div>
    <div class='contact-subject'><%= contact.subject %></div>
  <% end %>
  </div>
<% end %>