<% if school_signed_in? %>
  <div class="menu-top">
    <div class='menu-button notice'><%= link_to '学校からのお知らせ', contacts_path %></div>
    <div class='menu-button contact'><%= link_to 'ご家庭への連絡', rooms_path %></div>
  </div>
  <div class="menu-bottom">
    <div class='menu-button schedule'><%= link_to '学校行事', events_path%></div>
    <div class='menu-button absence'><%= link_to '欠席・遅刻・早退のご連絡', absences_path %></div>
  </div>
<% elsif user_signed_in? %>
  <div class="menu-top">
    <div class='menu-button notice'><%= link_to '学校からのお知らせ', contacts_path %></div>
    <div class='menu-button contact'><%= link_to '学校へのご連絡', rooms_path %></div>
  </div>
  <div class="menu-bottom">
    <div class='menu-button schedule'><%= link_to '学校行事', events_path %></div>
    <div class='menu-button absence'><%= link_to '欠席・遅刻・早退のご連絡', new_absence_path %></div>
  </div>
<% else %>
  <h3>関係者以外の方はご利用いただけません。</h3>
<% end %>