<div class='contact-title'><h3>欠席・遅刻・早退の連絡をする</h3></div>

<%= form_with model: @absence, url:absences_path, local: true do |f| %>

<%= render 'shared/error_messages', model: f.object %>

  <div class="absence-box">
    <div class="field">
      <div class="input-label">対象日</div>
      <%= raw sprintf(
            f.date_select(
              :date_when,
              use_month_numbers: true,
              date_separator: '%s'),
            '年 ', '月 ') + '日' %>
    </div>


    <div class="field">
      <div class="input-label">内容</div>
      <%= f.collection_select(:reason_id, Reason.all, :id, :name, {}, class:"input reason") %>
    </div>

    <div class="field">
      <div class="input-label timewhen">登校または下校時刻</div>   ※遅刻・早退の場合のみ<br>
      <%= f.time_select :time_when , class:"input" %>
    </div>

    <div class="field">
      <div class="input-label">理由</div>
      <%= f.text_field :status , class:"input status" %>
    </div>

    <div class="actions">
      <%= f.submit "連絡する" %>
    </div>
  </div>
<% end %>