<div class='contact-title'><h3>欠席・遅刻・早退の連絡をする</h3></div>

<%= form_with model: @absence, url:absences_path, local: true do |f| %>

<%= render 'shared/error_messages', model: f.object %>

  <div class="absence-box">
    <div class="time">対象日 <%= f.date_select :date_when %></div>
    <div class="title">内容 <%= f.collection_select(:reason_id, Reason.all, :id, :name, {}) %></div>
    <div class="time">登校または下校時刻 <%= f.time_select :time_when %>　　※「遅刻」「早退」の場合のみ</div>
    <div class="content">理由 <%= f.text_field :status %></div>
    <div class="submit"><%= f.submit "連絡する" %></div>
  </div>
<% end %>