<!DOCTYPE html>
<html>
  <head>
    <title>Digicon</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if school_signed_in? %>
      <header class="header">
        <div class="left-header">
          <div class="header-title">
            <div class="title-text"><a href="/">DigiCon〜デジコン〜</a></div>
            <div class="title-subtext">（管理者）</div>
          </div>
        </div>
        <div class="right-header">
          <%= link_to "ログアウト", destroy_school_session_path, method: :delete %>
        </div>
      </header>
    <% elsif user_signed_in? %>
      <header class="header">
        <div class="left-header">
          <div class="header-title">
            <div class="title-text"><a href="/">DigiCon〜デジコン〜</a></div>
          </div>
        </div>
        <div class="right-header">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        </div>
      </header>
    <% else %>
    <% end %>
    <%= yield %>
  </body>
</html>
