<header class="header">
  <div class="left-header">
    <div class="header-title">
      <div class="title-text">DigiCon〜デジコン〜</div>
    </div>
  </div>
</header>

<h2>新規登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :facility,"お子様が通う施設名" , class:"input-label" %><br />
    <%= f.collection_select(:facility, School.all, :facility, :facility, {}, {autofocus: true, class:"input facility"} ) %>
  </div>

  <div class="field">
    <%= f.label :grade, "学年" , class:"input-label" %>  ※半角<br />
    <%= f.text_field :grade , class:"input" %>年
  </div>

  <div class="field">
    <div class="input-label">氏名</div>
    <%= f.text_field :last_name, placeholder:"例) 山田" , class:"input" %>
    <%= f.text_field :first_name, placeholder:" 太郎" , class:"input" %>
  </div>

  <div class="field">
    <div class="input-label">シメイ</div>
    <%= f.text_field :last_name_kana, placeholder:"例) ヤマダ" , class:"input" %>
    <%= f.text_field :first_name_kana, placeholder:" タロウ" , class:"input" %>
  </div>

  <div class="field">
    <%= f.label :phone, "電話番号" , class:"input-label" %>  ※半角・ハイフンなし<br />
    <%= f.text_field :phone , class:"input" %>
  </div>

  <div class="field">
    <%= f.label :email, "メールアドレス" , class:"input-label" %>  ※半角<br />
    <%= f.email_field :email , class:"input mail" %>
  </div>

  <div class="field">
    <%= f.label :password, "パスワード" , class:"input-label" %>  ※半角英数混合6文字以上<br />
    <%= f.password_field :password, autocomplete: "off" , class:"input" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "パスワード（再）" , class:"input-label" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" , class:"input" %>
  </div>

  <div class="actions">
    <%= f.submit "アカウント登録" %>
  </div>
<% end %>
